page-about {

}

#containerbox {
    height: 200px;
    display: inline-block;
    color: white;
}

#container {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
}

.contents {
    width: 120px;
    height: 180px;
    margin-top: 0px;
    display: inline-block;
    color: white;
    background-color: #2892D7;
}

a.icons:hover {
     background: #C93;
 }

 .everything{
    background-color: white;
}
.row{
    background-color: white;
}
.card{
    background-color: white;
    margin-top: 10px;
}
element.style {
    margin-top: 79px;
    margin-bottom: 56px;
    background-color: white;
}

h1 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 48%;
    height: 2px;
    content: '\a0';
    background-color: #1A679D;
}
h1:before {
    margin-left: -50%;
    text-align: right;
    color: #1A679D;
}

h1:after {
    margin-left: 3%;
    text-align: right;
    color: #1A679D;
}
.color {
    background-color: #ccc;
}

div.scroll-content {
element.style {
    background-color: white;
	}
}
.card-md h1{
    color: #1A679D;
    margin-top: 10px;
    margin-bottom: -14px;
}

.contentsub {
    margin-left: -225px;
    color: white;
}