page-renting {

}

.contactimg {
    border: 6px solid black;
}

.float-my-children > * {
    float:left;
    margin-right: 5px;
    margin-top: 20%;
}

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.label {
    color: black;
}

.imguser {
    border: 0px;
    margin-top: 30%;
    height: 30%;
    width: 30%;
    margin-left: 15px;
}

.rentinput {
    background: white;
}

.txtbox {
    color: black;
}

.usernametext {
    color: black;
    margin-top: -18%;
    font-size: 130%;
    margin-left: 47%;
}

