page-contact {

}
.everything{
    background-color: #1A679D;
}
.item{
	background-color: transparent;
}
.input{
	background-color: #477389;
}
img {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 10px;
}

.rent {
	display: block;
	text-align: center;
	}

textarea {
	background-color: #477389;
	color: white;
	width: 80%;
 	margin-left: 10%;
 	margin-right: 10%;
	}
	.button{
	background-color: #0e3448;
	border: solid 1px #0e3448;
	color: white;
	border-radius: 10px;
	width: 100px;
	margin-bottom: 40px;
	}