page-rent {

}


.botton {
  position: absolute;
  botton: 8;
}

.action-sheets-basic-page {
  .ion-md-share {
    color: #ED4248;
  }

  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }

  .ion-md-heart-outline {
    color: #31D55F;
  }
  
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}

.divcolor {
  background: #1A679D;
}

.whitetext {
  color: white;
  margin-left: 5%;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.img-circle2 {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 40%;
    left: 5%;
    margin-top: 1px;
    color: white;
    border: 0px solid black;
    background-color: #2892D7;
}

.sideimg {
  left: 5px;
  width: 40%;
  height: 80%;
}

.boxed {
  color: white;
  background: #2892D7;
  width: 20%;
  height: 50%;
  margin-top: -53px;
  margin-left: 80%;
}