page-search {

}

.style {
    background: #234A6E;
}

.searchpage {
    width: 30%;
    height: 30%;
    margin-top: 155px;
    border: 0px;
}

.words {
    color: white;
    margin-left: 22%;
    margin-right: 5%;
    width: 80%;
}