page-submit {

}

.whitetext2{
    color: white;
    font-size: 170%;
    margin-left: 22%;
}

.label {
    color: white;
}

.label2 {
    color: white;
    background-color: #1A679D;
}

.style {
background-color: #1A679D;
}

